@font-face {
    font-family: "MuseoSansRegular";
    src: url("../../fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.eot");
    src: url("../../fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
    url("../../fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSansBold";
    src: url("../../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.eot");
    src: url("../../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.woff") format("woff"),
    url("../../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSansItalic";
    src: url("../../fonts/MuseoSans/MuseoSansItalic/MuseoSansItalic.eot");
    src: url("../../fonts/MuseoSans/MuseoSansItalic/MuseoSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/MuseoSans/MuseoSansItalic/MuseoSansItalic.woff") format("woff"),
    url("../../fonts/MuseoSans/MuseoSansItalic/MuseoSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSansLight";
    src: url("../../fonts/MuseoSans/MuseoSansLight/MuseoSansLight.eot");
    src: url("../../fonts/MuseoSans/MuseoSansLight/MuseoSansLight.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/MuseoSans/MuseoSansLight/MuseoSansLight.woff") format("woff"),
    url("../../fonts/MuseoSans/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSansMedium";
    src: url("../../fonts/MuseoSans/MuseoSansMedium/MuseoSansMedium.eot");
    src: url("../../fonts/MuseoSans/MuseoSansMedium/MuseoSansMedium.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/MuseoSans/MuseoSansMedium/MuseoSansMedium.woff") format("woff"),
    url("../../fonts/MuseoSans/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSansBlack";
    src: url("../../fonts/MuseoSans/MuseoSansBlack/MuseoSansBlack.eot");
    src: url("../../fonts/MuseoSans/MuseoSansBlack/MuseoSansBlack.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/MuseoSans/MuseoSansBlack/MuseoSansBlack.woff") format("woff"),
    url("../../fonts/MuseoSans/MuseoSansBlack/MuseoSansBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSansBoldItalic";
    src: url("../../fonts/MuseoSans/MuseoSansBoldItalic/MuseoSansBoldItalic.eot");
    src: url("../../fonts/MuseoSans/MuseoSansBoldItalic/MuseoSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/MuseoSans/MuseoSansBoldItalic/MuseoSansBoldItalic.woff") format("woff"),
    url("../../fonts/MuseoSans/MuseoSansBoldItalic/MuseoSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSansMediumItalic";
    src: url("../../fonts/MuseoSans/MuseoSansMediumItalic/MuseoSansMediumItalic.eot");
    src: url("../../fonts/MuseoSans/MuseoSansMediumItalic/MuseoSansMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/MuseoSans/MuseoSansMediumItalic/MuseoSansMediumItalic.woff") format("woff"),
    url("../../fonts/MuseoSans/MuseoSansMediumItalic/MuseoSansMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSansLightItalic";
    src: url("../../fonts/MuseoSans/MuseoSansLightItalic/MuseoSansLightItalic.eot");
    src: url("../../fonts/MuseoSans/MuseoSansLightItalic/MuseoSansLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/MuseoSans/MuseoSansLightItalic/MuseoSansLightItalic.woff") format("woff"),
    url("../../fonts/MuseoSans/MuseoSansLightItalic/MuseoSansLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSansBlackItalic";
    src: url("../../fonts/MuseoSans/MuseoSansBlackItalic/MuseoSansBlackItalic.eot");
    src: url("../../fonts/MuseoSans/MuseoSansBlackItalic/MuseoSansBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/MuseoSans/MuseoSansBlackItalic/MuseoSansBlackItalic.woff") format("woff"),
    url("../../fonts/MuseoSans/MuseoSansBlackItalic/MuseoSansBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    width: 100%;
    font-family: 'MuseoSansRegular', sans-serif, Arial;
}

header {
    width: 100%;
    height: 80px;
    background: #f7fdfe;
}

.content-width {
    width: 960px;
    height: 80px;
    margin: auto;
}

.content-width > div {
    display: inline-block;
    float: left;
}

.logo {
    width: 86px;
    height: 22px;
    margin: 21px 500px 0 0;
}

.logo-style {
    color: #82868f;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav {
    width: 220px;
    height: 17px;
    margin: 12px 28px 0 0;
}

.menu > li {
    display: inline-block;
    list-style-type: none;
    margin-right: 26px;
}

.menu > li:last-child {
    margin-right: 0;
}

.menu-style {
    color: #82868f;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.sign-in-btn {
    width: 124px;
    height: 40px;
    background-color: #0ebfdd;
    border-radius: 19px;
    border: none;
    margin-top: 18px;
    color: #f7fdfe;
    font-size: 14px;
    text-transform: uppercase;
}